<br>
<br>[[Guy <font color=#171717>alloc</font>] <font color=#171717>initWithName</font>:@"Kailun"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=#171717>description</font>:@"A CS grad student"
<br>&nbsp;<font color=#171717>studyAt</font>:@"NYU"
<!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=#171717>Instagram</font>:@"<a href="http://instagram.com/kailunwu/">@kailunwu</a>"
 --><!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=#171717>LinkedIn</font>:@"<a href="https://www.linkedin.com/in/kailunwu">@kailunwu</a>"&nbsp;&nbsp;&nbsp;
 -->
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=#171717>resume</font>:<a href="https://github.com/kailun-wu/kailun-wu.github.io/blob/master/assets/Kailun-Wu-Resume.pdf?raw=true">resume</a>];<span id="typed-cursor" class="blinking">|</span>

<br>
<br>
<br>&copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}<br>
<a href="http://octopress.org">Octopress</a> theme inspired by <a href="http://deeeet.com">SOTA</a>.
<br>
Title invented by <a href="https://twitter.com/JonyIveParody">@JonyIveParody</a>.
<br>
<br>
<br>
<br>