@import url("http://fonts.googleapis.com/css?family=Raleway:100");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
*
{
	margin: 0;
	padding: 0;
}
body
{
	background: #fff;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}
@media screen and (max-width: 900px)
{
	body
	{
		margin: 0 20px;
	}
}
@media screen and (max-width: 600px)
{
	body
	{
		font-size: 14px;
		margin: 0 20px;
	}
}
h1
{
	font-size: 20px;
}
h2
{
	font-size: 19px;
}
a
{
	color: #ff7373;
	moz-transition: border .25s linear;
	ms-transition: border .25s linear;
	outline: none;
	text-decoration: none;
	transition: border .25s linear;
	webkit-transition: border .25s linear;
}
a:hover
{
	text-decoration: none;
}
h3
{
	display: block;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.2;
	margin: -1em 0 0 0;
}
@media screen and (max-width: 620px)
{
	h3
	{
		font-size: 15px;
	}
}
h3 a
{
	color: #34495e;
	font-weight: bold;
	moz-transition: color 0.3s;
	o-transition: color 0.3s;
	transition: color 0.3s;
	webkit-transition: color 0.3s;
}
h3 a:hover
{
	border-bottom: none;
	color: #f1c40f;
}
a.category
{
	color: #c90000;
}
.alignleft
{
	float: left;
}
.alignright
{
	float: right;
}
.clearfix
{
	zoom: 1;
}
.clearfix:after
{
	clear: both;
	content: "";
	display: table;
}
.inner
{
	margin: 0 auto;
	width: 550px;
}
@media screen and (max-width: 900px)
{
	.inner
	{
		width: 70%;
	}
}
.pullquote-right:before,.pullquote-left:before
{
	border: none;
	content: attr(data-pullquote);
	float: right;
	font-size: 1.0em;
	line-height: 1.45em;
	margin: .5em 0 1em 1.5em;
	padding: 0;
	position: relative;
	top: 7px;
	width: 45%;
}
.pullquote-left:before
{
	float: left;
	margin: .5em 1.5em 1em 0;
}
#header
{
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 120px;
	margin-top: 80px;
	padding: 30px 0;
	text-align: center;
}
@media screen and (max-width: 900px)
{
	#header
	{
		height: auto;
		margin-bottom: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
@media screen and (max-width: 600px)
{
	#header
	{
		margin-bottom: 0;
	}
}
#header a
{
	color: #c90000;
	moz-transition: color 0.3s;
	o-transition: color 0.3s;
	transition: color 0.3s;
	webkit-transition: color 0.3s;
}
#header a:hover
{
	border-bottom: none;
	color: #f1c40f;
}
#header h1
{
	font-family: "Raleway";
	font-size: 70px;
	font-weight: 100;
	letter-spacing: 0.1em;
	margin: 15px 0 25px;
	text-align: center;
}
@media screen and (max-width: 900px)
{
	#header h1
	{
		float: none;
	}
}
#header .tagline
{
	color: #34495e;
	font-family: "Lato";
	font-size: 17px;
	font-weight: 100;
	margin-top: 15px;
}
@media screen and (max-width: 900px)
{
	#header .tagline
	{
		float: none;
	}
}
#pagenavi
{
	height: 20px;
	line-height: 20px;
	padding: 20px 0;
	position: relative;
}
#pagenavi .prev,#pagenavi .next
{
	position: absolute;
}
#pagenavi .prev
{
	left: 0;
}
#pagenavi .next
{
	right: 0;
}
#pagenavi .center
{
	display: block;
	text-align: center;
	width: 100%;
}
@media screen and (max-width: 400px)
{
	#pagenavi .center
	{
		display: none;
	}
}
article
{
	padding-top: 40px;
	position: relative;
}
article header
{
	margin-bottom: 1.5em;
}
article h2.title
{
	border-bottom: 0px;
	color: #34495e;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	margin-left: 0px;
	text-align: left;
}
@media screen and (max-width: 620px)
{
	article h2.title
	{
		font-size: 18px;
	}
}
article .entry-content
{
	line-height: 1.5;
	text-align: justify;
}
article .entry-content a:hover
{
	text-decoration: none;
}
article .entry-content p,article .entry-content li
{
	color: #555;
}
article .entry-content p
{
	margin-bottom: 1.5em;
}
article .entry-content blockquote,article .entry-content ul,article .entry-content ol,article .entry-content dl,article .entry-content table,article .entry-content iframe,article .entry-content h1,article .entry-content h2,article .entry-content h3,article .entry-content h4,article .entry-content h5,article .entry-content h6,article .entry-content .video-container
{
	margin-bottom: 0em;
	margin-top: 1.5em;
}
article .entry-content blockquote p,article .entry-content ul p,article .entry-content ol p,article .entry-content dl p,article .entry-content table p,article .entry-content iframe p,article .entry-content h1 p,article .entry-content h2 p,article .entry-content h3 p,article .entry-content h4 p,article .entry-content h5 p,article .entry-content h6 p,article .entry-content .video-container p
{
	margin-bottom: 0em;
}
article .entry-content ul,article .entry-content ol,article .entry-content dl
{
	margin-left: 20px;
}
article .entry-content ul ul,article .entry-content ul ol,article .entry-content ul dl,article .entry-content ol ul,article .entry-content ol ol,article .entry-content ol dl,article .entry-content dl ul,article .entry-content dl ol,article .entry-content dl dl
{
	margin-top: 0;
}
article .entry-content strong
{
	font-weight: bold;
}
article .entry-content em
{
	font-style: italic;
}
article .entry-content p
{
	margin-top: 10px;
}
article .entry-content h2
{
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	font-weight: 100;
	padding-bottom: 4px;
	position: relative;
}
article .entry-content img,article .entry-content video
{
	border-bottom: 0px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.35);
	height: auto;
	max-width: 100%;
	moz-border-radius: 5px;
	moz-box-shadow: 0 0 15px rgba(0,0,0,0.35);
	webkit-border-radius: 5px;
	webkit-box-shadow: 0 0 15px rgba(0,0,0,0.35);
}
article .entry-content blockquote
{
	background: #fff;
	border-left: 5px solid #f5f5f5;
	margin-top: 1px;
	padding: 5px 15px;
}
article .entry-content blockquote p
{
	color: #999;
	font-size: 0.9em;
}
article .entry-content blockquote>p:first-of-type
{
	margin-top: 0;
}
article .entry-content iframe
{
	border: none;
}
article .entry-content table
{
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-spacing: 0;
	margin-top: 10px;
}
article .entry-content table th
{
	background: #ccc;
	padding: 0 15px;
}
article .entry-content table td
{
	text-align: center;
}
article .entry-content table tr:nth-of-type(2n)
{
	background: #d5d5d5;
}
article .entry-content .caption
{
	color: #999;
	display: block;
	font-size: 0.9em;
	padding-left: 25px;
	position: relative;
}
article .entry-content .video-container
{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
article .entry-content .video-container iframe,article .entry-content .video-container object,article .entry-content .video-container embed
{
	height: 100%;
	left: 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.share
{
	padding: 15px 0;
	text-align: center;
}
@media screen and (max-width: 620px)
{
	.share
	{
		padding-left: 0px;
	}
}
.share ul
{
	list-style: none;
}
.share ul li
{
	display: inline;
	padding: 0 2px;
}
.share ul li a:link,.share ul li a:visited
{
	border: none;
}
.post .meta
{
	color: #333;
	font-size: 0.9em;
}
@media screen and (max-width: 620px)
{
	.post .meta
	{
		width: auto;
	}
}
.post .meta a
{
	color: #333;
	moz-transition: border .25s linear;
	ms-transition: border .25s linear;
	outline: none;
	text-decoration: none;
	transition: border .25s linear;
	webkit-transition: border .25s linear;
}
.post .meta a:link,.post .meta a:visited
{
	border-bottom: 1px solid rgba(191,2,34,0);
}
.post .meta a:hover
{
	border-bottom: 1px solid #bf0222;
}
@media screen and (max-width: 620px)
{
	.post .meta .date,.post .meta .tags,.post .meta .comments
	{
		display: inline;
		display: inline-block;
		display: -moz-inline-stack;
		margin-right: 30px;
		vertical-align: auto;
		vertical-align: middle;
		zoom: 1;
	}
}
.archives
{
	padding: 40px 0 1.5em;
}
@media screen and (max-width: 600px)
{
	.archives h2
	{
		font-size: 9px;
	}
}
.archives article
{
	margin-left: 200px;
	padding: 0;
}
.archives article:first-of-type h3
{
	margin: 0;
}
@media screen and (max-width: 600px)
{
	.archives article
	{
		margin-left: 0;
	}
	.archives article:first-of-type h3
	{
		margin: 1.2em 0 0 0;
	}
}
.archives article .meta
{
	color: #999;
	font-size: 0.9em;
	line-height: 200;
}
.archives article .meta a
{
	color: #999;
	moz-transition: 0.3s;
	o-transition: 0.3s;
	transition: 0.3s;
	webkit-transition: 0.3s;
}
.archives article .meta a:hover
{
	color: #333;
}
#comment
{
	margin-bottom: 1.5em;
}
#comment h2.title
{
	font-size: 25px;
	font-weight: 300;
	line-height: 35px;
	margin-bottom: 20px;
}
footer
{
	font-size: 0.8em;
	padding: 15px 0;
	text-align: center;
}
article code,article pre
{
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	color: #555;
	font-family: monospace;
}
article code
{
	border-radius: 5px;
	font-size: 0.9em;
	margin: 1px 3px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	padding: 0px 3px;
	webkit-border-radius: 5px;
}
article pre
{
	border-radius: 5px;
	font-size: 1 / 0.9em;
	line-height: 1.5;
	margin-top: 10px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	overflow-x: auto;
	padding: 5px 15px;
	webkit-border-radius: 5px;
}
article pre code
{
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 0;
	webkit-border-radius: 0;
}
figure.code
{
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	margin-bottom: 1.5em;
	margin-top: 3px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	padding: 5px 15px;
	webkit-border-radius: 5px;
}
figure.code figcaption
{
	font-size: 0.9em;
	position: relative;
}
figure.code figcaption span
{
	background: linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -moz-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -o-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #f5f5f5,#f5f5f5);
	display: none;
	margin: -5px -15px 0;
	padding: 5px 15px;
}
figure.code figcaption span:empty
{
	display: none;
}
figure.code figcaption a
{
	position: absolute;
	right: 0;
	top: 5px;
}
figure.code code,figure.code pre
{
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	moz-border-radius: 0;
	ms-border-radius: 0;
	o-border-radius: 0;
	padding: 0;
	webkit-border-radius: 0;
}
figure.code .highlight
{
	overflow-x: auto;
}
figure.code .line-numbers
{
	border-right: 1px solid #f5f5f5;
	display: none;
	font-family: monospace;
	padding-right: 15px;
	text-align: right;
}
figure.code table
{
	border: none;
	margin-top: 0;
	text-align: left;
}
figure.code table td
{
	text-align: left;
}
figure.code td.code
{
	overflow-x: auto;
	padding-left: 5px;
	width: 100%;
}
.entry-content .gist
{
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	color: #333;
	margin-top: 10px;
	moz-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	overflow: hidden;
	padding: 30px 15px 5px;
	position: relative;
	webkit-border-radius: 5px;
}
.entry-content .gist .gist-file
{
	margin: 0;
}
.entry-content .gist .gist-file .gist-data
{
	background: none;
	border: none;
}
.entry-content .gist .gist-file .gist-data pre
{
	font: 0.9em monospace;
	line-height: 1.5;
}
.entry-content .gist .gist-file .gist-meta
{
	background: linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -moz-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -o-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #f5f5f5,#f5f5f5);
	font: 300 0.9em "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	line-height: 1.5;
	margin: 0 -16px -6px;
	padding: 5px 15px;
}
.entry-content .gist .gist-file .gist-meta a
{
	color: #960d20;
}
.entry-content .gist .gist-file .gist-meta a:first-of-type
{
	position: absolute;
	right: 15px;
	top: 5px;
	z-index: 1;
}
.entry-content .gist .gist-file .gist-meta a:nth-of-type(2)
{
	background: linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -moz-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -o-linear-gradient(top, #f5f5f5,#f5f5f5);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #f5f5f5,#f5f5f5);
	left: 0;
	padding: 5px 15px;
	position: absolute;
	top: 0;
	width: 100%;
}
figure.code .c,.gist-highlight .c
{
	color: #93a1a1 !important;
	font-style: italic !important;
}
figure.code .cm,.gist-highlight .cm
{
	color: #93a1a1 !important;
	font-style: italic !important;
}
figure.code .cp,.gist-highlight .cp
{
	color: #93a1a1 !important;
	font-style: italic !important;
}
figure.code .c1,.gist-highlight .c1
{
	color: #93a1a1 !important;
	font-style: italic !important;
}
figure.code .cs,.gist-highlight .cs
{
	color: #93a1a1 !important;
	font-style: italic !important;
	font-weight: bold !important;
}
figure.code .err,.gist-highlight .err
{
	background: none !important;
	color: #dc322f !important;
}
figure.code .k,.gist-highlight .k
{
	color: #cb4b16 !important;
}
figure.code .o,.gist-highlight .o
{
	color: #586e75 !important;
	font-weight: bold !important;
}
figure.code .p,.gist-highlight .p
{
	color: #586e75 !important;
}
figure.code .ow,.gist-highlight .ow
{
	color: #2aa198 !important;
	font-weight: bold !important;
}
figure.code .gd,.gist-highlight .gd
{
	background-color: #f4c5b6 !important;
	color: #586e75 !important;
	display: inline-block;
}
figure.code .gd .x,.gist-highlight .gd .x
{
	background-color: #f1b1a4 !important;
	color: #586e75 !important;
	display: inline-block;
}
figure.code .ge,.gist-highlight .ge
{
	color: #586e75 !important;
	font-style: italic !important;
}
figure.code .gh,.gist-highlight .gh
{
	color: #93a1a1 !important;
}
figure.code .gi,.gist-highlight .gi
{
	background-color: #e5e3b5 !important;
	color: #586e75 !important;
	display: inline-block;
}
figure.code .gi .x,.gist-highlight .gi .x
{
	background-color: #cdd088 !important;
	color: #586e75 !important;
	display: inline-block;
}
figure.code .gs,.gist-highlight .gs
{
	color: #586e75 !important;
	font-weight: bold !important;
}
figure.code .gu,.gist-highlight .gu
{
	color: #6c71c4 !important;
}
figure.code .kc,.gist-highlight .kc
{
	color: #859900 !important;
	font-weight: bold !important;
}
figure.code .kd,.gist-highlight .kd
{
	color: #268bd2 !important;
}
figure.code .kp,.gist-highlight .kp
{
	color: #cb4b16 !important;
	font-weight: bold !important;
}
figure.code .kr,.gist-highlight .kr
{
	color: #d33682 !important;
	font-weight: bold !important;
}
figure.code .kt,.gist-highlight .kt
{
	color: #2aa198 !important;
}
figure.code .n,.gist-highlight .n
{
	color: #268bd2 !important;
}
figure.code .na,.gist-highlight .na
{
	color: #268bd2 !important;
}
figure.code .nb,.gist-highlight .nb
{
	color: #859900 !important;
}
figure.code .nc,.gist-highlight .nc
{
	color: #d33682 !important;
}
figure.code .no,.gist-highlight .no
{
	color: #b58900 !important;
}
figure.code .nl,.gist-highlight .nl
{
	color: #859900 !important;
}
figure.code .ne,.gist-highlight .ne
{
	color: #268bd2 !important;
	font-weight: bold !important;
}
figure.code .nf,.gist-highlight .nf
{
	color: #268bd2 !important;
	font-weight: bold !important;
}
figure.code .nn,.gist-highlight .nn
{
	color: #b58900 !important;
}
figure.code .nt,.gist-highlight .nt
{
	color: #268bd2 !important;
	font-weight: bold !important;
}
figure.code .nx,.gist-highlight .nx
{
	color: #b58900 !important;
}
figure.code .vg,.gist-highlight .vg
{
	color: #268bd2 !important;
}
figure.code .vi,.gist-highlight .vi
{
	color: #268bd2 !important;
}
figure.code .nv,.gist-highlight .nv
{
	color: #268bd2 !important;
}
figure.code .mf,.gist-highlight .mf
{
	color: #2aa198 !important;
}
figure.code .m,.gist-highlight .m
{
	color: #2aa198 !important;
}
figure.code .mh,.gist-highlight .mh
{
	color: #2aa198 !important;
}
figure.code .mi,.gist-highlight .mi
{
	color: #2aa198 !important;
}
figure.code .s,.gist-highlight .s
{
	color: #2aa198 !important;
}
figure.code .sd,.gist-highlight .sd
{
	color: #2aa198 !important;
}
figure.code .s2,.gist-highlight .s2
{
	color: #2aa198 !important;
}
figure.code .se,.gist-highlight .se
{
	color: #dc322f !important;
}
figure.code .si,.gist-highlight .si
{
	color: #268bd2 !important;
}
figure.code .sr,.gist-highlight .sr
{
	color: #2aa198 !important;
}
figure.code .s1,.gist-highlight .s1
{
	color: #2aa198 !important;
}